<!--begin::Modal-->

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ page_title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        {% if obj %}
            <form data-parsley-validate class="form-horizontal form-label-left" method='post' role="form" action="{% url 'movilv1:submodulo_editar' obj.pk %}">
        {% else %}
            <form data-parsley-validate class="form-horizontal form-label-left" method='post' role="form" action="{% url 'movilv1:submodulo_nuevo' %}">
        {% endif %}


            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group row">
                    <label title="{{form.modulo.help_text}}" class="col-form-label text-right col-lg-3 col-sm-12">{{form.modulo.label}}<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{form.modulo}}
                    </div>
                  </div>
                <div class="form-group row">
                    <label title="{{form.aplsubmodulo.help_text}}" class="col-form-label text-right col-lg-3 col-sm-12">{{form.aplsubmodulo.label}}<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{form.aplsubmodulo}}
                    </div>
                  </div>
                <div class="form-group row">
                    <label title="{{form.subm_nombre.help_text}}" class="col-form-label text-right col-lg-3 col-sm-12">{{form.subm_nombre.label}}<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{form.subm_nombre}}
                    </div>
                  </div>
                <div class="form-group row">
                    <label title="{{form.subm_ruta.help_text}}" class="col-form-label text-right col-lg-3 col-sm-12">{{form.subm_ruta.label}}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{form.subm_ruta}}
                    </div>
                  </div>
                <div class="form-group row">
                    <label title="{{form.subm_estado.help_text}}" class="col-form-label text-right col-lg-3 col-sm-12">{{form.subm_estado.label}}<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{form.subm_estado}}
                    </div>
                  </div>
                <div class="form-group row">
                    <label title="{{form.subm_descripcion.help_text}}" class="col-form-label text-right col-lg-3 col-sm-12">{{form.subm_descripcion.label}}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{form.subm_descripcion}}
                    </div>
                  </div>




            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary font-weight-bold">Guardar</button>
            </div>
        </form>
    </div>
</div>

<!--end::Modal-->