{% extends 'base/tables.html' %}

{% block extracss %}
	{{ block.super }}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
{% endblock extracss %}

{% block titlepage %}
<div class="card-title">
	<h3 class="card-label">SITIOS PRACTICAS
	<span class="d-block text-muted pt-2 font-size-sm"></span></h3>
</div>
{% endblock titlepage %}

{% block buttoncreatenew %}
	<button type="button" onclick="abrir_modal_creacion('{% url 'gestionpratica:lugarespracticas_crear' %}')"
			class="btn btn-primary font-weight-bolder">
		{% include 'buttons/buttoncreate.html' %}
		Nuevo lugar
	</button>
{% endblock buttoncreatenew %}

{% block datetablelist %}
	<thead>
		<tr>
			<th>ID</th>
			<th>CÓDIGO</th>
			<th>NOMBRE</th>
			<th>ESTADO</th>
			<th>ACCIONES</th>
		</tr>
	</thead>
	<tbody>
	{% for objects in object_list %}
		<tr>
			<td>{{objects.lupr_id}}</td>
			<td>{{objects.lupr_codigo}}</td>
			<td>{{objects.lupr_nombre}}</td>
			<td>{{objects.lupr_estado}}</td>
			<td><a class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'gestionpratica:lugarespracticas_editar' objects.lupr_id %}')"><span class="fa fa-edit"></span></a>
			</td>

		</tr>
	{% endfor %}
	</tbody>
{% endblock datetablelist %}