{% extends 'metronic/basic_contenido.html' %}
{% block notice1 %}
<!--begin::Notice-->
<div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
	<div class="alert-icon">
		<span class="svg-icon svg-icon-primary svg-icon-xl">
			<!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<rect x="0" y="0" width="24" height="24" />
					<path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3" />
					<path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero" />
				</g>
			</svg>
			<!--end::Svg Icon-->
		</span>
	</div>
	<div class="alert-text">La información consultada aquí, son solo los datos iniciales de creación de cuentas para estudiantes admitidos (nuevos). Tan pronto ingrese al correo institucional realice el cambio de contraseña, para la plataforma Academusoft deber realizar recuperación de contraseña siguiendo las indicaciones de los manual .
	<a class="font-weight-bold" href="https://www.ut.edu.co/atencion-al-ciudadano-ut/manuales/estudiantes.html" target="_blank">Manuales</a>.</div>
</div>
<!--end::Notice-->
{% endblock notice1 %}


	{% block title2 %}
		{{ page_title }}
	{% endblock title2 %}
	{% block title3 %}
		{{ page_title }}
	{% endblock title3 %}
	{% block title1 %}
		{% if page_title %}
		{{ page_title }}
		{% else %}
		Datos Iniciales
		{% endif %}
	{% endblock title1 %}

{% block contenido %}

<div class="card-body">
	 <form id="demo-form2" method='post' role="form" enctype="multipart/form-data">
		 {% csrf_token %}
		 <div class="form-group row">
			<label title="Documento de Identidad" class="col-form-label text-right col-lg-3 col-sm-12" >Documento de Identidad<span class="required">*</span>
			</label>
			<div class="col-lg-4 col-md-9 col-sm-12">
				<input class="form-control" type="text" id="documento" name = 'documento' placeholder="Documento de Identidad" maxlength="12" required>
			</div>
		  </div>
		<div class="row">
			<div class="col-lg-9 ml-lg-auto">
				<button type="submit" class="btn btn-primary mr-2">Buscar</button>

			</div>
		</div>
	 </form>
	<p></p>
	<p></p>
	<div>
		<table id="datatable" class="table table-striped table-bordered">
			<thead>
			  <tr>
				<th>DOCUMENTO</th>
				<th>NOMBRES</th>
				<th>CORREO</th>
				<th>Acción</th>

			  </tr>
			</thead>
			<tbody>
				<tr>
				{% for persona in persona %}
					<td>{{ persona.pers_documentoidentidad }}</td>
					<td>{{ persona.pers_primernombre }} {{ persona.pers_segundonombre }} {{ persona.pers_primerapellido }} {{ persona.pers_segundoapellido }}</td>
					<td>{{ persona.pers_correoinstitucional }}</td>
					<td><a class="btn btn-primary" onclick="return abrir_modal('{% url 'gestionpratica:auxiliarpractica_crear' dd persona.pers_id persona.pege_id.pege_id %}')" ><span class="fa fa-edit"> Agregar</span></a></td>

				{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>

</div>

{% endblock contenido %}


{% block javascripts %}
  {{ block.super}}
    <!-- select2-->
	<script src="/static/js/modales.js"></script>
    <script src="/static/assets/js/pages/crud/forms/widgets/select2.js"></script>
	<script src="/static/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js"></script>
	<script src="/static/assets/js/pages/features/miscellaneous/sweetalert2.js"></script>

{% endblock javascripts %}