{% extends 'base/tables.html' %}

{% block extracss %}
	{{ block.super }}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
{% endblock extracss %}

{% block titlepage %}
<div class="card-title">
	<h3 class="card-label">{{ page_title }}
	<span class="d-block text-muted pt-2 font-size-sm"></span></h3>
</div>
{% endblock titlepage %}

{% block buttoncreatenew %}
	<div>
	<a href="{% url 'gestionpratica:practicas_detalle' pract %}"
			class="btn btn-success font-weight-bolder">
		{% include 'buttons/buttoncreate.html' %}
		Finalizar
	</a>
	</div>
	<div>
	<button type="button" onclick="abrir_modal_creacion('{% url 'gestionpratica:costospracticas_crear' pract %}')"
			class="btn btn-primary font-weight-bolder">
		{% include 'buttons/buttoncreate.html' %}
		Nuevo Costo
	</button>
	</div>
{% endblock buttoncreatenew %}

{% block datetablelist %}
	<thead>
		<tr>
			<th>ID</th>
			<th>CONCEPTO</th>
			<th>CANTIDAD</th>
			<th>VALOR UNITARIO</th>
			<th>VALOR TOTAL</th>
			<th>ACCIONES</th>
		</tr>
	</thead>
	<tbody>
	{% for costos in costos %}
		<tr>
			<td>{{costos.ctpr_id}}</td>
			<td>{{costos.copr_id.copr_nombre}}</td>
			<td>{{costos.ctpr_cantidad}}</td>
			<td>{{costos.ctpr_costounitario}}</td>
			<td>{{costos.ctpr_costototalxconcepto}}</td>
			<td></td>

		</tr>
	{% endfor %}
	</tbody>
{% endblock datetablelist %}