{% extends 'base/tables.html' %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
{% endblock extracss %}

{% block titlepage %}
<div class="card-title">
    <h3 class="card-label">ESTUDIANTES
        <span class="d-block text-muted pt-2 font-size-sm"></span></h3>
</div>
{% endblock titlepage %}

{% block buttoncreatenew %}

{% endblock buttoncreatenew %}

{% block datetablelist %}
<thead>
<tr>
    <th>DOCUMENTO</th>
    <th>NOMBRES</th>
    <th>PRACTICA</th>
    <th>MATERIA</th>
    <th>GRUPO</th>
    <th>ACCIONES</th>
</tr>
</thead>
<tbody>
{% for estudiantesgpr in estudiantesgpr %}
<tr>
    <td>{{estudiantesgpr.pers_documentoidentidad}}</td>
    <td>{{estudiantesgpr.pers_primernombre}} {{ estudiantesgpr.pers_segundonombre }}
        {{estudiantesgpr.pers_primerapellido}} {{ estudiantesgpr.pers_segundoapellido}}
    </td>
    <td>{{ pk }}</td>
    <td>{{ codigomateria }}</td>
    <td>{{ grupoid }}</td>
    <td><input type="checkbox" class="checkbox" name="record">
    </td>
</tr>
{% endfor %}
</tbody>
<div>
    <button id="btnInactivar" name="btnInactivar" class="btn btn-light-primary font-weight-bold">Adccionar Estudiante a Practica</button>
</div>
{% endblock datetablelist %}

{% block javascripts %}
{{ block.super}}
<script>
    $("#btnInactivar").click(function (e) {
        e.preventDefault();
        var ids = [];
        $("table tbody").find('input[name="record"]').each(function () {
            if ($(this).is(":checked")) {
                var id = $(this).parents("tr").find("td").eq(0).html();
                ids.push(id);
            }
        });
        console.log(ids);
        if (ids.length == 0) {
            //alert("Debe Seleccionar al menos un registro");
            Swal.fire({
                title: "Error!",
                text: "Debe Seleccionar al menos un registro!",
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Continuar!",
                customClass: {
                    confirmButton: "btn btn-primary"
                }
            });
            return false;
        }
        var token = '{{csrf_token}}';
        var data = JSON.stringify({"ids": ids});
        data = {"ids[]": ids};
        var grupid = '{{grupoid}}';
        var mateid = '{{ codigomateria }}';
        var practid = '{{ pk }}';
        var grupids = [];
        var mateids = [];
        var practids = [];
        grupids.push(grupid);
        mateids.push(mateid);
        practids.push(practid);
        data2 = {"grupids[]": grupids};
        console.log(data);
        console.log(token);
        console.log(grupid);
        console.log(mateid);
        console.log(practid);
        //console.log(data2);
        //agregarestudiantes
        //var token = '{{csrf_token}}';
        var data = JSON.stringify({"ids": ids});
        var data2 = JSON.stringify({"grupids[]": grupids});
        //data = {"ids[]":ids,"grupid":grupid,"mateids[]":mateids,"practids[]":practids};
        data = {"ids[]": ids, "grupid": grupid, "mateid": mateid, "practid": practid};
        //data2 = {"grupids[]":grupids};
        console.log(data);
        //console.log(data2);
        //var parametro =$("#parametro").val();

        $.ajax({
            headers: {"X-CSRFToken": token},
            url: "{% url 'gestionpratica:agregarestudiantes' %}",
            type: "POST",
            data: data,
            //data: data,
            success: function (e) {
                if (e = "OK") {
                    console.log(e)
                    //location.reload(true);
                    //window.location.replace("http://sitioweb.com");
                    Swal.fire({
                        title: "Buen trabajo!",
                        text: "Estudiantes agregados correctamente!",
                        icon: "success",
                        buttonsStyling: false,
                        confirmButtonText: "Continuar!",
                        customClass: {
                            confirmButton: "btn btn-primary"
                        }
                    });
                }
            },
            error: function (a, b, c) {
                alert(c);
            }
        });
    });
</script>
{% endblock javascripts %}
