<!--begin::Modal-->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ page_title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <!--Begin::Form-->
        <form class="form" id="kt_form_1" method='post' role="form" enctype="multipart/form-data"
              action="{% url 'gestionpratica:vehiculopractica_update' pk %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group row">
                    <label title="{{ form.vehi_id.help_text }}"
                           class="col-form-label text-right col-lg-3 col-sm-12">{{ form.vehi_id.label }}<span
                            class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{ form.vehi_id }}
                    </div>
                </div>
                <input type="hidden" name="solp_id" class="form-control" autofocus="autofocus" placeholder="Vehiculo"
                       required id="solp_id" value="{{ pk }}">

            </div>
            <!--begin::Button-->
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancelar
                </button>
                <button type="submit" class="btn btn-primary font-weight-bold">Guardar</button>
            </div>
            <!--end::Button-->
        </form>
        <!--end::Form-->
    </div>
</div>
<!--end::Modal-->