{% extends 'base/tables.html' %}

{% block extracss %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
{% endblock extracss %}

{% block titlepage %}
    <div class="card-title">
        <h3 class="card-label">{{ page_title }}
            <span class="d-block text-muted pt-2 font-size-sm"></span></h3>
    </div>
{% endblock titlepage %}

{% block buttoncreatenew %}
    <div>
        <a href="{% url 'gestionpratica:practicas_detalle' pk %}"
           class="btn btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1">
            {% include 'buttons/buttoncreate.html' %}
            Finalizar
        </a>
    </div>
    <div>
        <button type="button" onclick="abrir_modal_creacion('{% url 'gestionpratica:vehiculopractica_add' pk %}')"
                class="btn btn-primary font-weight-bolder">
            {% include 'buttons/buttoncreate.html' %}
            Adicionar Vehiculo
        </button>
    </div>
{% endblock buttoncreatenew %}

{% block datetablelist %}
    <thead>
    <tr>
        <th>ID</th>
        <th>PLACA</th>
        <th>MARCA</th>
        <th>TIPO</th>
        <th>TRANSPORTE</th>
        <th>COMBUSTIBLE</th>
        <th>ACCIONES</th>
    </tr>
    </thead>
    <tbody>
    {% for vehiculos in vehiculos %}
        <tr>
            <td>{{ vehiculos.vehi_id.vehi_id }}</td>
            <td>{{ vehiculos.vehi_id.vehi_placa }}</td>
            <td>{{ vehiculos.vehi_id.mveh_id.mveh_nombre }}</td>
            <td>{{ vehiculos.vehi_id.tveh_id.tveh_nombre }}</td>
            <td>{{ vehiculos.vehi_id.vehi_transporte }}</td>
            <td>{{ vehiculos.vehi_id.vehi_combustible }}</td>
            <td>
                <a href="{% url 'gestionpratica:vehiculopractica_delete' vehiculos.vepr_id %}" class="btn btn-light-danger font-weight-bold py-3 px-6 mb-2 text-center btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                Eliminar vehiculo asignado
            </a>
            </td>
        </tr>
        <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog"
             aria-labelledby="staticBackdrop" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar Vehiculo Asignado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Estas seguro de eliminar el vehiculo {{ vehiculos.vehi_id.vehi_placa }} asignado a esta practica </p>
                    </div>
                    <form action="{% url 'gestionpratica:vehiculopractica_delete' vehiculos.vepr_id %}" method='post'>
                        {% csrf_token %}
                        <input type="hidden" name="solp_id" class="form-control" autofocus="autofocus" placeholder="Vehiculo"
                         id="solp_id" value="{{ pk }}">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </tbody>
{% endblock datetablelist %}