<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
          {% block meta %}
            <meta charset="utf-8" />
            <meta name="description" content="Select2 dropdown examples" />
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		    <link rel="canonical" href="https://keenthemes.com/metronic" />
            <title>Select2 | Keenthemes</title>
          {% endblock meta %}
          <title>DATAPS | {% block title %}{% endblock %}</title>
          {% block stylesheets %}
            <!--begin::Fonts-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
            <!--end::Fonts-->
            <!--begin::Global Theme Styles(used by all pages)-->
            <link href="/static/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
            <link href="/static/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
            <link href="/static/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
            <!--end::Global Theme Styles-->
            <!--begin::Layout Themes(used by all pages)-->
            <link href="/static/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
            <link href="/static/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
            <link href="/static/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
            <link href="/static/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
            <!--end::Layout Themes-->
            <link rel="shortcut icon" href="/static/assets/media/logos/favicon.ico" />

          {% endblock stylesheets %}
        {% endblock head %}
    </head>
    <!--end::Head-->
    <!--begin::Body-->
    <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading" >
        {% block body %}
        <!--begin::Main-->
        <!--begin::Header Mobile-->
        {% block mobile %}
            <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
                <!--begin::Logo-->
                <a href="index.html"><img alt="Logo" src="/static/assets/media/logos/logo-light.png" /></a>
                <!--end::Logo-->
                <!--begin::Toolbar-->
                <div class="d-flex align-items-center">
                    <!--begin::Aside Mobile Toggle-->
                    <button class="btn p-0 burger-icon burger-icon-left" id="kt_aside_mobile_toggle">
                        <span></span>
                    </button>
                    <!--end::Aside Mobile Toggle-->
                    <!--begin::Header Menu Mobile Toggle-->
                    <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
                        <span></span>
                    </button>
                    <!--end::Header Menu Mobile Toggle-->
                    <!--begin::Topbar Mobile Toggle-->
                    <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                        <span class="svg-icon svg-icon-xl">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </button>
                    <!--end::Topbar Mobile Toggle-->
                </div>
                <!--end::Toolbar-->
            </div>
            <!--end::Header Mobile-->
        {% endblock mobile %}
        <!--begin::Aside Menu-->
        {% block main %}
            <div class="d-flex flex-column flex-root">
            {% block page %}
                <div class="d-flex flex-row flex-column-fluid page">
                    <!--begin::Aside-->
                    <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
                        <!--begin::Brand-->
                        {% include "metronic/logo.html" %}
                        <!--end::Brand-->
                        {% block sidebar %}
                            <!--begin::Aside Menu-->
                            <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                            {% include "metronic/sidebar.html" %}
                            </div>
                            <!--end::Aside Menu-->
                        {% endblock sidebar %}
                    </div>
                    <!--end::Aside-->
                    <!--begin::Wrapper-->
                    {% block wrapper %}
                        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                            <!--begin::Header-->
                            <div id="kt_header" class="header header-fixed">
                                <!--begin::Container-->
                                {% block container %}
                                <div class="container-fluid d-flex align-items-stretch justify-content-between">
                                    {% include "metronic/container.html" %}
                                </div>
                                {% endblock container %}
                                <!--end::Container-->
                            </div>
                            <!--end::Header-->
                            <!--begin::Content-->
                            {% block content %}
                            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                                <!--begin::Subheader-->
                                {% block subheader %}
                                <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
                                    {% include "metronic/subheader.html" %}
                                </div>
                                {% endblock subheader %}
                                <!--end::Subheader-->
                                <!--begin::Entry-->
                                {% block contentcontainer %}
                                {% endblock contentcontainer %}
                                <!--end::Entry-->
                            </div>
                            {% endblock content %}
                            <!--end::Content-->
                            <!--begin::Footer-->
                            {% block footer %}
                                {% include "metronic/footer.html" %}
                            {% endblock footer %}
                            <!--end::Footer-->
                        </div>
                    {% endblock wrapper %}
                    <!--end::Wrapper-->
                </div>
            {% endblock page %}
            <!--end::Page-->
            </div>
        {% endblock main %}
        <!--end::Main-->
        <!-- begin::User Panel-->
        {% block userpanel %}
            <div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
                <!--begin::Header-->
                <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
                    <h3 class="font-weight-bold m-0">User Profile
				    <small class="text-muted font-size-sm ml-2">12 messages</small></h3>
                    <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close"><i class="ki ki-close icon-xs text-muted"></i></a>
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                {% block contentuserpanel %}
                <div class="offcanvas-content pr-5 mr-n5">
                    <!--begin::Header-->
                    {% block headercontentuserpanel %}
                    <div class="d-flex align-items-center mt-5">
                        {% include "metronic/headercontentuserpanel.html" %}
                    </div>
                    {% endblock headercontentuserpanel %}
                    <!--end::Header-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed mt-8 mb-5"></div>
                    <!--end::Separator-->
                    <!--begin::Nav-->
                    {% block navunouserpanel %}
                    <div class="navi navi-spacer-x-0 p-0">
                        {% include "metronic/navunouserpanel.html" %}
                    </div>
                    {% endblock navunouserpanel %}
                    <!--end::Nav-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed my-7"></div>
                    <!--end::Separator-->
                    <!--begin::Notifications-->
                    {% block notificacionuserpanel %}
                    <div>
                        {% include "metronic/notificacionuserpanel.html" %}
                    </div>
                    {% endblock notificacionuserpanel %}
                    <!--end::Notifications-->
                </div>
                {% endblock contentuserpanel %}
                <!--end::Content-->
            </div>
        {% endblock userpanel %}
        <!-- end::User Panel-->
        <!--begin::Quick Cart-->

        <!--begin::javascripts -->
        {% block javascripts %}
            {% block extrajs %}
            {% endblock extrajs %}
        <script src="/static/assets/plugins/global/plugins.bundle.js"></script>
		<script src="/static/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/static/assets/js/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="/static/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="/static/assets/js/pages/widgets.js"></script>
        <!--end::Page Scripts-->
        {% endblock %}
        <!--end::javascrpts-->

        {% endblock body %}
    </body>
    <!--end::Body-->
</html>